@import "../../Styles/mixins.scss";

.result {
    @include flex(row, space-between);
    width: 300px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        background-color: $hoverColor;
    }
    p {
        &:first-child {
            width: 150px;
        }
        &:last-child {
            width: 50px;
            text-align: center;
        }
    }
}