@import "./Styles/mixins.scss";
@import "./Styles/variables.scss";

.app {
    @include flex(column, flex-start);
    width: 100vw;
    height: 100vh;
    header {
        margin: 50px 0;
        h1 {
            color: $titleColor;
            font-weight: 700;
            font-size: 40px;
        }
    }
    .form {
        @include flex($justify: space-between);
        width: 500px;
        height: 50px;
        margin-bottom: 10px;
        select {
            border-radius: 10px;
            height: 30px;
            &:hover {
                cursor: pointer;
            }
        }
        .select_type {
            width: 240px;
        }
        .select_state {
            width: 150px;
        }
        button {
            width: 75px;
            height: 30px;
            border-radius: 10px;
            border: 1px solid black;
            &:hover {
                cursor: pointer;
                background-color: $hoverColor;
            }
        }
    }
    .data {
        @include flex(column, center, flex-start);
        width: 500px;
        .title {
            @include flex(row, space-between);
            width: 500px;
            margin-bottom: 20px;
            .list_rep {
                @include flex();
                width: 263px;
                h2 {
                    font-size: 30px;
                    &:first-child {
                        margin-right: 10px;
                    }
                    &:last-child {
                        color: $titleColor;
                    }
                }
            }
            h2 {
                font-size: 30px;
            }
        }
        .results_info {
            @include flex(row, space-between, flex-start);
            width: 660px;
        }
        .results {
            @include flex(column, center, space-between);
            width: 300px;
            .categories {
                @include flex(row, space-between);
                width: 300px;
                margin-bottom: 20px;
            }
        }
        .info {
            @include flex(column, center, flex-start);
            width: 200px;
            position: relative;
            left: 5px;
            .grey_text {
                color: $greyText;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
    p {
        font-size: 20px;
    }
}